APP_NAME=InsiderCase
APP_ENV=local
APP_DEBUG=true
APP_PORT=8000
APP_KEY=
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=insider_db
DB_USERNAME=insider
DB_PASSWORD=secret
DB_PORT_EXTERNAL=5433

POSTGRES_DB=insider_db
POSTGRES_USER=insider
POSTGRES_PASSWORD=secret
PGDATA=/var/lib/postgresql/data/pgdata

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null
REDIS_PORT_EXTERNAL=6379

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

WEBHOOK_URL=https://webhook.site/084ed117-bf26-4a63-8976-74a2b0a40fb5
